body {
    background-image: url("https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg");
    font-family: sans-serif;
}

.menu {
    width: 80%;
    background-color: #deb887;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

h1, h2, p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item p {
    display: inline-block;
}

.flavor, .dessert {
    width: 75%;
    text-align: left;
}

.price {
    width: 25%;
    text-align: right;
}
